<!doctype html>
<title>Hungarian spelling helper</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='hsha.js') }}"></script>
<div class="bordered center half">
<center><h1>Hungarian spelling helper</h1></center>
<nav class="center">
  <a href="{{ url_for('login.index') }}">Home</a>
  <a href="{{ url_for('login.index') }}">Wordmanager</a>
    {% if username %}
        <form style="display: inline; float:right;" action = "/logout" method = "POST">
          {{ username }} - score: {{ g.user['score'] }} - <input type = 'submit' value = 'Logout'/>
        </form> 
    {% endif %}
</nav>
<section class="content center">
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  <center>{% block content %}{% endblock %}</center>
</section>
</div>