{% extends 'base.html' %}

{% block content %}
  {% if username %}
    	<form action = "/game/" method = "POST">
        <label for="rounds_count">Rounds:</label><br>
    		<p><input value='5' type = 'number' name = 'rounds_count'/></p>
    		<p><input type = 'submit' value = 'Game'/></p>
    	</form>
  {% else %}
    <form action = "/login" method = "POST">
       <label for="username">Username:</label><br>
       <p><input type = 'text' name = 'username'/></p>
       <p><input type = 'submit' value = 'Login'/></p>
    </form>
  {% endif %}
{% endblock %}